// Body
$body-bg: #fff;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$base-font: 'Inter',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$gray: #718096;
$red: #E53E3E;
$orange: #DD6B20;
$yellow: #D69E2E;
$green: #38A169;
$teal: #319795;
$blue: #3182CE;
$indigo: #5A67D8;
$purple: #805AD5;
$pink: #D53F8C;

// Margins
$mt-10: 5rem;
